@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@font-face {
	font-family: 'GilroyS';
	src: url('Gilroy-SemiBold.eot');
	src: local('Gilroy SemiBold'), local('Gilroy-SemiBold'),
		url('Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('Gilroy-SemiBold.woff') format('woff'),
		url('Gilroy-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'GilroyR';
	src: url('Gilroy-Regular.eot');
	src: local('Gilroy Regular'), local('Gilroy-Regular'),
		url('Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
		url('Gilroy-Regular.woff') format('woff'),
		url('Gilroy-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal; 
}
@import "nullstyle.scss";

$color1: #9747FF;
$color2:#BF3BC4;
$color3:#562687;
$colorBG1:#25272F;
$colorBG2:#1D1F25;
$colorWT:#FFFFFF;

body{
	background-color: $colorBG1;
}

.all-content{
	display: flex;
	justify-content: space-between;
	padding: 35px 40px 30px 40px;
}

.icons{
	width: 90px;
	height: 90px;
	border-radius: 50%;
	&:hover{
	//	box-shadow: 0 2px 10px 4px $colorWT inset;
	}
}
.button-account{
	order: 3;
	//position: relative;
	align-self: flex-start;
	//margin: 20px 20px 0 0 ;
	
}
.button-question{
	order: 1;
	//position: relative;
	align-self: flex-end;
	//margin:  0 0 20px 20px;
}


.content{
	order: 2;
	max-width: 1015px;
	margin: 0 auto;
}
.content__row{
	display: flex;
	flex-direction: column;
	//padding: 35px 0 0 0;
	align-items: center;
}
.content__head{
	font-family: Roboto;
	font-size: 135px;
	font-weight: 900;
	text-transform: uppercase;
	line-height: 158.2px;
	color:$color1;
	margin: 0 0 15px 0;
}

.content__menu{
	width: 950px;
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	background: $colorBG2;
	border-radius: 65px;
	font-family: GilroyS;
	color: $colorWT;
	align-items: center;
}
.menu__title{
	font-size: 48px;
	text-align: center;
	padding: 40px 0 28px 0 ;
}
.menu__row{
	display: flex;
	justify-content: space-between;
	margin: 0 -90px;
}
.menu__choice{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 90px;
}
.menu__text-choice{
	font-size: 30px;
	font-family: GilroyR;
}
.menu__button-row{
	display: flex;
	flex-direction: column;
}

.menu__button{
	margin: 30px 0;
	width: 306px;
	height: 74px;
	background-color: $color1;
	border-radius: 45px;
	font-size: 40px;
	text-align: center;
	line-height: 70px;
	text-transform: lowercase;
	&:last-child{
		margin: 0 0 65px 0;
	}
	&:hover{
		box-shadow: 0 0 10px 2px $color1;
	}
	&:active{
		background-color: $color2;
		box-shadow: 0 0 10px 2px $color2;
	}
	//при выборе меняет цвет:
	&:visited{
		background-color: $color2;
	}
}

.content__button{
	font-family: GilroyS;
	font-size: 75px;
	text-transform: lowercase;
	color: $colorWT;
	background: linear-gradient(to right, $color1 60%, $color2  100%);
	border-radius: 87px;
	height: 162px;
	text-align: center;
	line-height: 145px;
	margin: 30px 0 0 0;
	span{
		color: $colorWT;
		margin: 0 70px;
	}
	&:hover{
		background: linear-gradient(to right, $color1 20%, $color2 50%);
	}
	&:active{
		background: linear-gradient(to right, $color2 100%);
		box-shadow: 0 0 10px 2px $color2 ;
	}
}

