@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@font-face {
	font-family: 'GilroyS';
	src: url('Gilroy-SemiBold.eot');
	src: local('Gilroy SemiBold'), local('Gilroy-SemiBold'),
		url('Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('Gilroy-SemiBold.woff') format('woff'),
		url('Gilroy-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'GilroyR';
	src: url('Gilroy-Regular.eot');
	src: local('Gilroy Regular'), local('Gilroy-Regular'),
		url('Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
		url('Gilroy-Regular.woff') format('woff'),
		url('Gilroy-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

body {
	background-color: #25272f;
}

.content {
	padding: 52px;
	font-family: GilroyS;
}

.container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.container .container__score,
.container .container__winner {
	-ms-flex-item-align: start;
	align-self: flex-start;
}

.container__icons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.container__icons .content__home {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}
.container__icons .content__rules {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.content__home {
	width: 78px;
	height: 77px;
}

.content__rules {
	width: 85px;
	height: 87px;
}

.content__game-field {
	width: 850px;
	height: 850px;
	background-color: #1d1f25;
	border-radius: 60px;
	-webkit-box-shadow: 0 0 10px 10px #bf3bc4;
	box-shadow: 0 0 10px 10px #bf3bc4;
}
.content__game-field .content__canvas {
	width: 790px;
	height: 790px;
	margin: 30px;
	background-color: #25272f;
}

.container__info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.content__info {
	width: 600px;
	height: 430px;
	border-radius: 60px;
	background-color: #1d1f25;
	padding: 38px 43px;
}
.content__info .content__username {
	font-size: 42px;
}
.content__info .content__time {
	font-size: 75px;
}
.content__info .content__button {
	font-size: 42px;
}

.container__score {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.container__players {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 15px 0;
}
.container__players .content__time {
	padding: 0 20px 40px 0;
}

.container__user {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.content__photo {
	width: 101px;
	height: 101px;
	background-color: #ffffff;
	border-radius: 50%;
}

.username-1 {
	color: #bf3bc4;
}

.username-2 {
	color: #9747ff;
}

.content__button {
	height: 108px;
	padding: 28px 80px;
	background-color: #1d1f25;
	border-radius: 60px;
	font-size: 42px;
	color: #ffffff;
	text-transform: lowercase;
}
.content__button:hover {
	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(20%, #9747ff),
		color-stop(80%, #bf3bc4)
	);
	background-image: linear-gradient(to right, #9747ff 20%, #bf3bc4 80%);
}
.content__button:active {
	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(20%, #9747ff),
		color-stop(50%, #bf3bc4)
	);
	background-image: linear-gradient(to right, #9747ff 20%, #bf3bc4 50%);
}

.container__winner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	position: absolute;
	visibility: hidden;
}
.container__winner .user-winner {
	color: #9747ff;
}
.container__winner .content__result {
	color: #ffffff;
	font-size: 60px;
}
